:root{
    --primary: #6209db;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f5f5f5;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--light);
    border-color: var(--primary);
    color: var(--primary);
}

.btn-light{
    background-color: var(--light);
    color: var(--primary);
}


.span-morado{
    color: var(--primary);
}

.titulo{
    font-size: 8rem;
    color: var(--dark);
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.enunciado{
    background-color: var(--primary);
    color: var(--light);
}

.apple{
    width: 100px;
    height: 100px;
}